<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/prism.css">
  <script async src="{{ site.baseurl }}/assets/js/prism.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ideal-image-slider.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/video-embed.css">
  <script async src="{{ site.baseurl }}/assets/js/ideal-image-slider.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/alchemy.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}


  {% include google-analytics.html %}
  

</head>
