---
sitemap: false
---
@import "color";
@import "variables";
@import "typography";
@import "highlighter";
@import "animated";
@import "site";

.about-desc {
    padding-top: 0em; }
    .about-desc h2 {
      line-height: 1.3; }
      .about-desc h2 span {
        font-weight: 400;
        display: block;
        margin-bottom: 0;
        color: #000;
        font-size: 50px;
        font-family: "Playfair Display", Georgia, serif; }
    .about-desc .desc {
      padding-left: 6em;
      position: relative; }
    .about-desc .rotate {
      position: absolute;
      top: 7px;
      left: 30px; }
      .about-desc .rotate .heading {
        border: none;
        font-family: "Karla", Arial, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1em;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        transform-origin: left top 0;
        position: relative; }
        .about-desc .rotate .heading:after {
          position: absolute;
          top: 8px;
          right: -40px;
          content: '';
          background: #000;
          width: 40px;
          height: 1px; }


.hidden {
  display: none;
}

.relative  {
  position: relative;
}

.absolute {
  position: absolute;
}