/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+c+csharp+bash+cpp+markup-templating+docker+git+go+java+latex+makefile+django+python+regex&plugins=line-highlight+line-numbers+toolbar+show-language+copy-to-clipboard */


/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}


/* Inline code */

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    /* Same as .prism’s padding-top */
    background: hsla(24, 20%, 50%, .08);
    background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, .4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

div.code-toolbar {
    position: relative;
}

div.code-toolbar>.toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

div.code-toolbar:hover>.toolbar {
    opacity: 1;
}


/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */

div.code-toolbar:focus-within>.toolbar {
    opacity: 1;
}

div.code-toolbar>.toolbar .toolbar-item {
    display: inline-block;
}

div.code-toolbar>.toolbar a {
    cursor: pointer;
}

div.code-toolbar>.toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

div.code-toolbar>.toolbar a,
div.code-toolbar>.toolbar button,
div.code-toolbar>.toolbar span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: .5em;
}

div.code-toolbar>.toolbar a:hover,
div.code-toolbar>.toolbar a:focus,
div.code-toolbar>.toolbar button:hover,
div.code-toolbar>.toolbar button:focus,
div.code-toolbar>.toolbar span:hover,
div.code-toolbar>.toolbar span:focus {
    color: inherit;
    text-decoration: none;
}

.imgjkl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.c-shelf {
    margin-top: 64px;
    list-style: none;
    display: flex;
    flex-wrap: wrap
}

@supports (display:grid) {
    .c-shelf {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-column-gap: 48px
    }
}

.c-shelf__volume {
    box-sizing: border-box;
    margin-bottom: 64px;
    padding: 0 16px;
    width: 33%
}

@supports (display:grid) {
    .c-shelf__volume {
        padding: 0;
        width: auto
    }
}

.c-shelf__link .c-cover {
    transition: all .28s ease
}

.c-shelf__link {
    color: #111;
    display: block;
    text-decoration: none
}

.c-shelf__link:focus,
.c-shelf__link:hover {
    outline: none;
    box-shadow: 0 5px 0 #111
}

.c-shelf__link:focus .c-cover,
.c-shelf__link:hover .c-cover {
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    -webkit-transform: rotate(1.5deg) scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
    transform: rotate(1.5deg) scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0)
}

.c-shelf__link:active .c-cover {
    -webkit-transform: rotate(1.5deg) scale3d(1.1, 1.1, 1) translate3d(0, -15px, 0);
    transform: rotate(1.5deg) scale3d(1.1, 1.1, 1) translate3d(0, -15px, 0)
}

.c-shelf__volume__title {
    font-family: Duospace, Courier, monospace;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.5;
    margin: 0 0 0 0;
    padding-bottom: 0px
}

.c-volume-header {
    margin: 32px 0;
    text-align: center
}

@media (min-width:768px) {
    .c-volume-header {
        margin: 48px 0
    }
}

.c-volume-header .c-cover {
    margin: 0 auto 16px;
    max-width: 200px
}

.c-volume-header h1,
.c-volume-header h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 35ch
}

.c-volume-header h1 {
    font-size: 4.2rem
}

.c-volume-header h2 {
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 400
}

.c-volume-header__authors {
    margin-top: 16px
}

.c-volume-header--small .c-cover {
    max-width: 100px
}

.c-volume-header--small h1 {
    font-size: 3.2rem
}

.c-volume-header--small h2 {
    font-size: 2.1rem
}

li,
ol,
ul {
    margin: 0;
    padding: 0
}

.book-image {
    width: 100%;
}

.book-figure {
    margin: 0;
}

.book-item {
    margin: 0 0 4rem 0;
}

.checked {
    color: orange;
}

.pink {
    color: palevioletred;
}

.title {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.title .btn {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    display: inline;
}

.btn {
    padding: 10px 18px;
    font-size: 14px;
    margin: 4px auto;
    display: inline;
}

.btn {
    display: inline-block;
    border: 1px solid;
    border-color: rgba(229, 230, 233, 0.5) rgba(223, 224, 228, 0.5) #d0d1d5;
    border-radius: 3px;
    text-decoration: none;
    background: #fff;
    color: #282828;
    padding: 10px 18px;
    display: inline;
}

.btn:hover {
    margin: 10px;
    font-size: 18px;
    font-weight: 300;
    display: inline;
}

.image-caption {
    text-align: center;
}

.hero-content .hero-buttons {
    margin: 0 auto;
    display: table;
}

button.btn,
input.btn {
    padding: 12px 35px;
    margin: 2em 0.5em;
    border: solid 1px #d5e0e7;
    border-radius: 4px;
    color: #2E4453;
    font-weight: 600;
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Table of Contents */

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    /* padding-bottom: 10px; */
}

#markdown-toc ul {
    list-style: inside;
    font-size: medium;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    font-size: medium;
    list-style: inside;
    display: inline-block;
}

.gray {
    filter: grayscale(97%);
}

.bookdetails {
    width: 30%;
    float: left;
    padding: 1.5em;
  }
.bookarticle {
    width: 60%;
    float: left;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.mt-2, .my-2 {
    margin-top: .5rem!important;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.project.card {
    border-radius: 15px;
    text-decoration: none !important;
    margin: 10px auto;
    transition: transform 400ms;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.project.card .card-img-top {
    border-radius: 15px 15px 0 0;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.card-title {
    margin-bottom: .3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #343a40;
}

.badge {
    font-weight: 500;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem!important;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.text-primary {
    color: #007bff!important;
    font-size: .8rem;
}
.ml-1, .mx-1 {
    margin-left: .25rem!important;
}
.border-primary {
    border-color: #007bff!important;
}
.border {
    border: 1px solid #dee2e6!important;
}