---
layout: default
---
<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  {{ content }}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
      style="display:block; text-align:center;"
      data-ad-layout="in-article"
      data-ad-format="fluid"
      data-ad-client="ca-pub-4188943909307860"
      data-ad-slot="8423988260"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <div class="post-disqus">
      <section id="disqus_thread"></section>
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
